# Core functionality - changes here should be rare!
/src/app.py                   @dascally
/src/backend/database.py      @dascally
/src/backend/routers/auth.py  @dascally

# The frontend will need refactoring soon to be more object-oriented.
/src/static/   @dascally
